{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="px-4 pt-6">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="mb-4">
        <div class="flex-shrink-0">
          <span class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">All Assignments</span>
          <h3 class="text-base font-light text-gray-500 dark:text-gray-400 mt-4">
            <i class="fas fa-book mr-2"></i>Create assignments, upload questions and grading criteria
          </h3>
          
          <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
            <i class="fas fa-info-circle text-blue-500 mr-1"></i> Then upload a PDF with each student's answers.
          </p>
          <div class="mt-4">
            <a href="{% url 'assignment_create' %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              Add new assignment
              <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-col mt-6">
        <div class="overflow-x-auto rounded-lg">
          <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                <thead class="bg-gray-50 dark:bg-gray-700">
                  <tr>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Name
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Questions
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Rubric
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800">
                  {% for assignment in assignments %}
                  <tr class="{% cycle 'bg-white' 'bg-gray-50' %} dark:bg-gray-800">
                    <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                      <a href="{% url 'assignment_detail' assignment.id %}" class="text-base font-semibold hover:underline">{{ assignment.name|truncatechars:50 }}</a>
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      {{ assignment.assignment_questions|truncatechars:50 }}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      {{ assignment.assignment_rubric|truncatechars:50 }}
                    </td>
                    <td class="p-4 space-x-2 whitespace-nowrap">
                      <a href="{% url 'assignment_detail' assignment.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        View
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      {% if not assignments %}
      <div class="p-4 mt-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
        <span class="font-medium">Info alert!</span> You don't have any assignments yet.
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock content %}
