{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main class="p-4 bg-white dark:bg-gray-800">
  <div class="block sm:flex items-center justify-between border-b border-gray-200 dark:border-gray-700 mb-4">
    <div class="w-full mb-4">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Add new bot</h1>
    </div>
  </div>

  <div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow">
    <form method="post">
      {% csrf_token %}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
          {{ form.name }}
        </div>
        <div>
          <label for="stack" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
          {{ form.description }}
        </div>
      </div>
      <div class="mt-4">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-primary-800">Create Bot</button>
      </div>
    </form>
  </div>
</main>
{% endblock content %}
