{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Hawkings for teachers</title>

<meta name="description"
  content="Bring the power of AI to your students">

<link rel="canonical" href="https://hawkings.education">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="https://app.hawkings.education/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://app.hawkings.education/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://app.hawkings.education/favicon-16x16.png">
<link rel="icon" type="image/png" href="https://app.hawkings.education/favicon.ico">
<link rel="mask-icon" href="https://app.hawkings.education/build/images/logo.svg?v1719234426" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wearehawkings">
<meta name="twitter:creator" content="@wearehawkings">
<meta name="twitter:title" content="Hawkings Education">
<meta name="twitter:description"
  content="Hawkings Education - Create custom tutor bots and grade your assignments with AI">
<meta name="twitter:image" content="https://github.com/app-generator/rocket-django">

<!-- Facebook -->
<meta property="og:title" content="Hawkings Education">
<meta property="og:description"
  content="Hawkings Education - Create custom tutor bots and grade your assignments with AI">
<meta property="og:type" content="website">
<meta property="og:image:type" content="image/png">

<link rel="stylesheet" href="{% static 'dist/main.css' %}">

<script>
  if (localStorage.getItem('color-theme') === 'dark') {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark')
  }
</script>