<aside id="sidebar"
    class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal duration-75 lg:flex transition-width"
    aria-label="Sidebar">
    <div
        class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
            <div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                <ul class="pb-2 space-y-2">
                    <li>
                        <a href="/"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 {% if 'dashboard' in segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-tachometer-alt text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Dashboard</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{% url 'bot-list' %}"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-robot text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Bots</span>
                        </a>
                    </li>
                    <li>
                        <a href="/assignment"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-tasks text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Assignments</span>
                        </a>
                    </li>
                    <li>
                        <a href="/student"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-users text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Students</span>
                        </a>
                    </li>
                    <li>
                        <a href="/grade"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-clipboard-check text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Grades</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'studio:youtubevideo-list' %}"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-video text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>YouTube Videos</span>
                        </a>
                    </li>


                    
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'admin:index' %}"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700 {% if 'settings' in segment %} bg-gray-100 dark:bg-gray-700 {% endif %}">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-cog text-gray-500 transition duration-75 group-hover:text-blue-500 dark:text-gray-400 dark:group-hover:text-blue-300"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Admin View</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_list' %}"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-user-cog text-gray-500 transition duration-75 group-hover:text-green-500 dark:text-gray-400 dark:group-hover:text-green-300"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Users</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.loom.com/share/55e7d37381e0482aaef9b1ed0827a7d1?sid=19045670-6d86-41e2-9fb5-3af734b821fe" target="_blank"
                            class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
                            <div class="w-6 h-6 flex items-center justify-center">
                                <i class="fas fa-question-circle text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"></i>
                            </div>
                            <span class="ml-3" sidebar-toggle-item>Help</span>
                        </a>
                    </li>

                    
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</aside>
