{% extends "layouts/base-auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
            <img src="https://app.hawkings.education/build/images/logo.svg?v1719234426" class="mr-4 h-11" alt="FlowBite Logo">
            
        </a>
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                Register
            </h2>


            
            <form method="post" class="mt-8 space-y-6">
                {% csrf_token %}

                {% for field in form %}
                <div class="mb-6">
                    <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                    {% if field.name == 'country' %}
                        <div class="country-select-container">
                            {{ field|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                        </div>
                    {% elif field.widget_type == 'checkbox' %}
                        <div class="flex items-center">
                            {{ field|add_class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" }}
                            <label for="{{ field.id_for_label }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.label }}</label>
                        </div>
                    {% else %}
                        {{ field|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }}
                    {% endif %}
                    {% if field.errors %}
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ field.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                <div class="flex items-start mb-6">
                    <div class="flex items-center h-5">
                        <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required>
                    </div>
                    <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
                </div>
                
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create account</button>
                
                <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
                    <a href="{% url "signin" %}" class="text-blue-600 hover:underline dark:text-blue-500">Sign in</a>
                    &nbsp; &bull; &nbsp; 
                    <a href="https://docs.appseed.us/products/rocket/django/"  target="_blank"
                       class="text-blue-600 hover:underline dark:text-blue-500">Documentation</a>                    
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
    <style>
        .country-select-flag {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: auto;
        }
        select.country-select {
            padding-left: 40px !important;
        }
        .country-select-container {
            position: relative;
        }
    </style>
{% endblock extra_css %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
    <script src="{% static 'django_countries/js/django_countries.js' %}"></script>
{% endblock extra_js %}